@model TestSystem.Models.TestHelperModel
@{
    Layout = null;
}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TestSystem</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>

    <table style="width: 1150px;border:0px;">
        <tr>
            <td colspan="2" style="background-color:#47C607;">
                <h3 style="color: white;">Тесты</h3>
            </td>
        </tr>
        <tr style="vertical-align: top;">
            <td style="background-color:#CCFF83;width:180px;text-align:top;">
                <h4 class="nav-item">
                    @Html.ActionLink(linkText: "Главная", actionName: "Index",
                     controllerName: "Teacher",routeValues: new {TeacherId = @Model.teacher.TeacherId},
                     htmlAttributes: null)
                </h4>
                <h4 >
                     @Html.ActionLink(linkText: "Создать тест", actionName: "CreateTest",
                     controllerName: "Teacher",routeValues: new {TeacherId = @Model.teacher.TeacherId},
                     htmlAttributes: null)
                </h4>
                <h4 class="nav-item">
                    @Html.ActionLink(linkText: "Список тестов", actionName: "TestList",
                     controllerName: "Teacher",routeValues: new {TeacherId = @Model.teacher.TeacherId},
                     htmlAttributes: null)
                </h4>
                <h5 class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Выход из системы</a>
                </h5>
            </td>
             <td style="color: black; background-color:#FFFFFF;height:800px;text-align:top;"> 
               <h3> СПИСОК ТЕСТОВ:</h3>
                  <form method="POST">                           
                <table>
                    <td><input type="hidden" name="Idteacher" value="@Model.teacher.TeacherId" /> </td>
                <tr>
                    <td>Курс:                    
                    <select name="Idcourse">
                        @foreach (var item in Model.Courses)
                        {
                            <option value="@item.CourseId"> @item.CourseName</option>
                        }
                    </select>
                    </td>
                    <td>Факультет: 
                    <select name="Idfaculty">
                        @foreach (var item in Model.Faculties)
                        {
                            <option value="@item.FacultyId"> @item.FacultyName</option>
                        }
                    </select>   
                    <td>       
                    <td><input type="submit" value="Смотреть"> </td>   
                </form>
               <table border="1">
            <tr><th> id </th><th>Название теста</th><th>Предмет</th><th><th>Действия</th></tr>
            @foreach (var item in Model.Tests)
            {                   
                var subject = "";
                                foreach(var i in Model.Subjects)
                                {
                                    if (i.SubjectId == item.IdSubject) {subject = i.SubjectName;}
                                }  
                <tr><td>@item.TestId</td>
                    <td>@item.TestName</td>                    
                    <td>@subject</td>
                    <td><a href="~/Admin/DeleteStudent/@item.TestId">Удалить</a>
                         @Html.ActionLink("Изменить", "ChangeStudent", "Admin", 
                         new {id = item.TestId}, 
                        new {@class = "viewDialog", data_dialog_title = "Редактирование данных" })
                    </td>
                </tr>
            }
            </table>
            
            </td>
        </tr>
        <tr></tr>
    </table>
</body>
</html> 