@model TestSystem.Models.TakeTestHelper
@{
    Layout = null;
}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TestSystem</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>

    <table style="width: 1150px;border:0px;">
        <tr>
            <td colspan="2" style="background-color:#00B8E9;">
                 <h3 style="color: white;">Тест</h3>
            </td>
        </tr>
        <tr style="vertical-align: top;">
            <td style="background-color:#B7E4F0;width:180px;text-align:top;">
                <h4 class="nav-item">
                    @Html.ActionLink(linkText: "Главная", actionName: "Index",
                     controllerName: "Student",routeValues: new {StudentId = @Model.student.StudentId},
                     htmlAttributes: null)
                </h4>
            </td>
            <td style="background-color:#FFFFFF;height:800px;text-align:top;"> 
                @{int qnum = Model.QuestionOrder + 1;}
                @{int next = Model.QuestionOrder + 1, prev = Model.QuestionOrder - 1;}
                <h3>Вопрос  @qnum из @Model.QuestionAmmount:</h3><br />
                <table>
                <td style="color: greenyellow;">Балл : @Model.QuestWithAns.question.Point </td>
                <tr><td>****</td> </tr>
                <tr><td><form action="~/Student/Question">
                    <input type="hidden" name="StudentId" value="@Model.student.StudentId" />
                    <input type="hidden" name="TestId" value="@Model.test.TestId" /> 
                    <input type="hidden" name="QuestionOrder" value="@prev" />
                    <input type="submit" value="Назад">
                </form></td>
                <td><form action="~/Student/Question">
                    <input type="hidden" name="StudentId" value="@Model.student.StudentId" />
                    <input type="hidden" name="TestId" value="@Model.test.TestId" /> 
                    <input type="hidden" name="QuestionOrder" value="@next" />
                    <input style="color: green;" type="submit" value="Дальше">
                </form> </td></tr>
                <tr>
                    <td ><form action="~/Student/StartTestPage">
                    <input type="hidden" name="StudentId" value="@Model.student.StudentId" />
                    <input type="hidden" name="TestId" value="@Model.test.TestId" /> 
                    <input style="color: red;" type="submit" value="ПОКИНУТЬ ТЕСТ">
                    </form> </td>
                </tr>
                </table>
            </td>
        </tr>
       </tr>
        <tr></tr>
    </table>
</body>
</html> 