@model TestSystem.Models.TakeTestHelper
@{
    Layout = null;
}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TestSystem</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>

    <table style="width: 1150px;border:0px;">
        <tr>
            <td colspan="2" style="background-color:#00B8E9;">
                 <h3 style="color: white;">Тест</h3>
            </td>
        </tr>
        <tr style="vertical-align: top;">
            <td style="background-color:#B7E4F0;width:180px;text-align:top;">
                <h4 class="nav-item">
                    @Html.ActionLink(linkText: "Главная", actionName: "Index",
                     controllerName: "Student",routeValues: new {StudentId = @Model.student.StudentId},
                     htmlAttributes: null)
                </h4>
            </td>
            <td style="background-color:#FFFFFF;height:800px;text-align:top;"> 
            <h4>Тест: @Model.test.TestName <br />
                Студент: @Model.student.StudentFirstName @Model.student.StudentSecondName
                Результаты: @Model.ResultPoint из @Model.MaxPoint баллов<br />
            </h4>
            <table border="1">
                @{int pos = 0; int res = 0;}
             <tr><td><form action="~/Student/TestList">
                    <input type="hidden" name="StudentId" value="@Model.student.StudentId" /> 
                    <input type="submit" value="Список тестов">
                </form></td>
            <tr><th>Номер</th><th>Вопрос/ответы</th><th>Результат</th></tr>
            @foreach (var item in Model.AllQuestionsWithAns)
            {                   
                pos = pos + 1;
                res = 0;
                if (item.studAnsId == item.corrAns.AnswerId)
                    res = item.question.Point;
                <tr>
                    <td>@pos</td>                    
                    <td>
                        @item.question.QuestionText<br style="color: green;"/>
                        <br /> а) @item.corrAns.AnswerText
                        <br /> б) @item.wrgAns1.AnswerText
                        <br /> в) @item.wrgAns2.AnswerText
                        <br /> г) @item.wrgAns3.AnswerText
                    </td>
                    <td style="color: indigo;"> @res баллов </td>
                </tr>
            }
            </table>
            
            </td>
        </tr>
       </tr>
        <tr></tr>
    </table>
</body>
</html> 